@model Camp.Models.CamperModel
@using Resources

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="border:0">
    <tr>
        <td style="border:0">
            <h2>@Model.FullName</h2>
        </td>

        <td style="border:0" align="right">
            @if (ViewBag.CanUpdate)
            {
                <button onclick="location.href='@Url.Action("Edit", "Camper", new { id = Model.Id })'">
                     @Campers.DetailsEdit
                </button> 
  
                <button onclick="if (confirm('@Model.DeleteConfirmationString')) { 
                                    location.href='@Url.Action("Delete", "Camper", new { id = Model.Id })';
                                 }">
                     @Campers.DetailsDelete
                </button> 
            }
            <button onclick="location.href='@Url.Action("Index", "Camper")'">
                @Campers.DetailsBackToList
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="border:0">

            <fieldset>
                <legend>@Campers.DetailsLegend</legend>
                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.LastName)</div>
                    <div class="display-field">@Model.LastName</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.FirstName)</div>
                    <div class="display-field">@Model.FirstName</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.DateOfBirth)</div>
                    <div class="display-field">@String.Format(Campers.DetailsBirthdateFormat, Model.DateOfBirth)</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.PostIndex)</div>
                    <div class="display-field">@String.Format("{0,5:D5}", Model.PostIndex)</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.City)</div>
                    <div class="display-field">@Model.City</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.District)</div>
                    <div class="display-field">@Model.District</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.Street)</div>
                    <div class="display-field">@Model.Street</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.HomeNumber)</div>
                    <div class="display-field">@Model.HomeNumber</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.AppartmentNumber)</div>
                    <div class="display-field">@String.Format("{0}", (Model.AppartmentNumber.IsEmpty() ? "-" : Model.AppartmentNumber))</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.HomePhone)</div>
                    <div class="display-field">@String.Format("{0}", (Model.HomePhone.IsEmpty() ? "-" : Model.HomePhone))</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.AddressNote)</div>
                    <div class="display-field">
                        <text>@String.Format("{0}", (Model.AddressNote.IsEmpty() ? "-" : Model.AddressNote))</text>
                    </div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.Contacts)</div>
                    <div class="display-field">
                        <text>@String.Format("{0}", (Model.Contacts.IsEmpty() ? "-" : Model.Contacts))</text>
                    </div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.Email)</div>
                    <div class="display-field">@String.Format("{0}", (Model.Email.IsEmpty() ? "-" : Model.Email))</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.Skype)</div>
                    <div class="display-field">@String.Format("{0}", (Model.Skype.IsEmpty() ? "-" : Model.Skype))</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.DisabilityGrade)</div>
                    <div class="display-field">@Model.DisabilityGrade</div>
                </div>

                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.MedicalNote)</div>
                    <div class="display-field">
                        <text>@String.Format("{0}", (Model.MedicalNote.IsEmpty() ? "-" : Model.MedicalNote))</text>
                    </div>
                </div>
    
                <div class="display-item">
                    <div class="display-label">@Html.LabelFor(m => m.Comments)</div>
                    <div class="display-field">
                        <text>@String.Format("{0}", (Model.Comments.IsEmpty() ? "-" : Model.Comments))</text>
                    </div>
                </div>
            </fieldset>
        </td>
    </tr>

    <tr>
        <td colspan="2" align="right" style="border:0">
            @if (ViewBag.CanUpdate) {
                @: @Html.ActionLink(Campers.DetailsEdit, "Edit", new { id = Model.Id }) |
                @: @Html.ActionLink(Campers.DetailsDelete, "Delete", new { id = Model.Id },
                                            new { onclick = "return confirm('" + Model.DeleteConfirmationString + "')" }) |
            }																																									 
                @Html.ActionLink(Campers.DetailsBackToList, "Index")
        </td>
    </tr>

</table>
