@model Camp.Models.CamperModel
@using Resources

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="border:0" width="98%">
    <tr>
        <td style="border:0">
            <h2>@Model.FullName</h2>
        </td>

        <td style="border:0" align="right">
            @Html.ActionLink(Campers.DetailsBackToList, "Index")
            @if (ViewBag.CanUpdate) {
                @: | @Html.ActionLink(Campers.DetailsEdit, "Edit", new { id = Model.Id }) |
                @: @Html.ActionLink(Campers.DetailsDelete, "Delete", new { id = Model.Id },
                                            new { onclick = "return confirm('" + Model.DeleteConfirmationString + "')" })
            }
        </td>
    </tr>
    
    @Html.Partial("_CamperDetailsPartial")

    <tr>
        <td colspan="2" align="right" style="border:0">
            @Html.ActionLink(Campers.DetailsBackToList, "Index")
            @if (ViewBag.CanUpdate) {
                @: | @Html.ActionLink(Campers.DetailsEdit, "Edit", new { id = Model.Id }) |
                @: @Html.ActionLink(Campers.DetailsDelete, "Delete", new { id = Model.Id },
                                            new { onclick = "return confirm('" + Model.DeleteConfirmationString + "')" })
            }
        </td>
    </tr>

</table>
