@model IEnumerable<Camp.Models.CamperModel>
@using Resources;

@{
    ViewBag.Title = Campers.IndexTitle;
}

<table style="border:0">
    <tr>
        <td style="border:0">
            <h2>@Campers.IndexTitle</h2>
        </td>

        <td style="border:0" align="right">
            @if (ViewBag.CanUpdate) {
                @Html.ActionLink(Campers.IndexCreateNew, "Create")
            }
        </td>
    </tr>

    <tr>
        <td colspan="2" style="border:0">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().FullName)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().DateOfBirth)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().City)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().District)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().Comments)
                    </th>
                    @if (ViewBag.CanUpdate)
                    {
                    <th></th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.FullName, "Details", new { id = item.Id })
                    </td>
                    <td>
                        @String.Format("{0:yyyy-MM-dd}", item.DateOfBirth)
                    </td>
                    <td>
                        @item.City
                    </td>
                    <td>
                        @item.District
                    </td> 
                    <td style = "max-width: 20em; overflow:hidden">
                        @((item.Comments ?? "").Substring(0, (item.Comments ?? "").Length > 60 ? 60 : (item.Comments ?? "").Length))
                    </td>
                    @if (ViewBag.CanUpdate)
                    {
                    <td id="actions">
                        @Html.ActionLink(Campers.IndexEdit, "Edit", new { id = item.Id }) |
                        @Html.ActionLink(Campers.IndexDelete, "Delete", new { id = item.Id },
                            new { onclick = "return confirm('" + item.DeleteConfirmationString + "')" }) 
                    </td>
                    }
                </tr>
                }
            </table>
        </td>
    </tr>
    @if (ViewBag.CanUpdate)
    {
    <tr>
        <td colspan="2" id="footer">
            @Html.ActionLink(Campers.IndexCreateNew, "Create")
        </td>
    </tr>
    }
</table>

