@using Resources
<!DOCTYPE html>
<html lang="en">
    <head>
		@Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(Home.HomeTitle, "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
		                @Html.Partial("_LanguageSwitcher")
                        @Html.Partial("_LogOnPartial")
                    </section>
                    <nav>
                <ul id="menu">
                    @{ string currentAction = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
                       string currentController = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(); }

                    <li class="@("Home".Equals(currentController) && "Index".Equals(currentAction) ? "selected" : "")">
                        @Html.ActionLink(Home.HomeMenu, "Index", "Home")
                    </li>
                    <li class="@("Camper".Equals(currentController) ? "selected" : "")">
                        @Html.ActionLink(Campers.IndexTitle, "Index", "Camper")
                    </li>
                    <li class="@("Driver".Equals(currentController) ? "selected" : "")">
                        @Html.ActionLink(Drivers.IndexTitle, "Index", "Driver")
                    </li>
                    <li class="@("Camp".Equals(currentController) ||
                            "CamperForYear".Equals(currentController) ? "selected" : "")">
                        @Html.ActionLink(Camps.MainMenuItem, "Index", "Camp")
                    </li>
                    <li class="@("Home".Equals(currentController) && "About".Equals(currentAction) ? "selected" : "")">
                        @Html.ActionLink(Home.AboutTitle, "About", "Home")
                    </li>
                </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; 2013-@DateTime.Now.Year - Camp for Disabled</p>
                </div>
            </div>
        </footer>

    </body>
</html>
