@model Camp.Models.CamperModel
@using Resources

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="border:0" width="98%">
    <tr>
        <td style="border:0">
            <h2>@Model.FullName 
                <span style="font-weight: normal">
                    (@ViewBag.CampName)
                </span>
            </h2>
        </td>

        <td style="border:0" align="right">
            @Html.ActionLink(CamperForYear.DetailsBackToList, "Index", 
                new { id = Url.RequestContext.RouteData.Values["campId"] })
            @if (ViewBag.CanUpdate) {
                @: | @Html.ActionLink(CamperForYear.DetailsEdit, "Edit", "Camper", new { id = Model.Id }, null)
                @: | @Html.ActionLink(CamperForYear.DeleteFromList, "Delete", 
                            new { campId = Url.RequestContext.RouteData.Values["campId"], 
                                id =  Url.RequestContext.RouteData.Values["Id"] }) 
            }
        </td>
    </tr>

    @Html.Partial("_CamperDetailsPartial")

    <tr>
        <td colspan="2" align="right" style="border:0">
            @Html.ActionLink(CamperForYear.DetailsBackToList, "Index", "CamperForYear", 
                new { id = Url.RequestContext.RouteData.Values["campId"]}, null)
            @if (ViewBag.CanUpdate) {
                @: | @Html.ActionLink(CamperForYear.DetailsEdit, "Edit", "Camper", new { id = Model.Id }, null)
                @: | @Html.ActionLink(CamperForYear.DeleteFromList, "Delete", 
                            new { campId = Url.RequestContext.RouteData.Values["campId"], 
                                id =  Url.RequestContext.RouteData.Values["Id"] }) 
            }
        </td>
    </tr>

</table>
