@model IEnumerable<Camp.Models.CamperModel>
@using Resources;

@{
    ViewBag.Title = CamperForYear.Title;
}

<table style="border:0">
    <tr>
        <td style="border:0">
            <h2>@Camps.Campers <span style="font-weight: normal">(@ViewBag.CampName) - [@Model.Count().ToString()]</span></h2>
        </td>

        <td style="border:0" align="right">
            @Html.ActionLink(CamperForYear.BackToCamps, "Index")
        </td>
    </tr>

    <tr>
        <td colspan="2" style="border:0">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().FullName)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td id="name">
                        @item.FullName
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" id="footer">
            @Html.ActionLink(CamperForYear.BackToCamps, "Index")
        </td>
    </tr>
</table>

