@model Camp.Models.CampModel
@using Resources;           

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/campedit")
}

@{
    ViewBag.Title = ViewBag.IsCreate ? Camps.EditNew : ViewBag.Name ?? Model.Name;
}

<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />

<script type="text/javascript">
    $(document).ready(function () {

     $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            firstDay: 1,
            dayNames: [@MvcHtmlString.Create(DatePicker.DayNames)],
            dayNamesMin: [@MvcHtmlString.Create(DatePicker.DayNamesMin)],
            dayNamesShort: [@MvcHtmlString.Create(DatePicker.DayNamesShort)],
        	monthNames: [@MvcHtmlString.Create(DatePicker.MonthNames)],
            monthNamesShort: [@MvcHtmlString.Create(DatePicker.MonthNamesShort)],
            yearRange: "2003:@(DateTime.Now.Year + 5)",
            dateFormat: "yy-mm-dd",
            showMonthAfterYear: true,
            defaultDate: "2003-06-01"
        });

        
        $("#form").data("validator").settings.submitHandler = function (form) {
            $("#save").attr("disabled", true).val("@Camps.EditSaving");
            form.submit();
        }
    });
</script>

<table style="border:0" width="98%">
    <tr>
        <td style="border:0">
            <h2>@(ViewBag.IsCreate? Camps.EditNew : ViewBag.Name ?? Model.Name)</h2>
        </td>

        <td style="border:0" align="right">
            @Html.ActionLink(Camps.EditBackToList, "Index")
        </td>
    </tr>
    <tr>
        <td colspan="2" style="border:0">
            @using (Html.BeginForm(ViewBag.IsCreate ? "Create" : "Edit", "Camp", FormMethod.Post, new { id = "form" })) {
                <fieldset>
                    <legend>@Camps.EditLegend</legend>

                    @Html.HiddenFor(model => model.Id)
              
                     <div class="editor-item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Year)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Year,
                                new SelectList(Enumerable.Range(2003, DateTime.Now.Year - 2003 + 6)))
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>
                    </div>
   
                    <div class="editor-item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="editor-item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Theme)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Theme)
                            @Html.ValidationMessageFor(model => model.Theme)
                        </div>
                    </div>
        
                    <div class="editor-item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.BeginDate)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.BeginDate, 
                                new { @class = "datepicker", @readonly = true, 
                                    @Value = String.Format("{0:yyyy-MM-dd}", Model.BeginDate) })
                            @Html.ValidationMessageFor(model => model.BeginDate)
                        </div>
                    </div>

                    <div class="editor-item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EndDate)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.EndDate, 
                                new { @class = "datepicker", @readonly = true, 
                                    @Value = String.Format("{0:yyyy-MM-dd}", Model.EndDate) })
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>
                    </div>

                    <div class="editor-item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                        
                    <div class="editor-item">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.History)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.History)
                            @Html.ValidationMessageFor(model => model.History)
                        </div>
                    </div>

                     <div class="editor-footer">
                        <div class="left">
                            <span style="color:red;">*</span> @Camps.EditRequiredFields
                        </div>
                        <div class="right">
                            <input type="submit" id="save" style="margin-right:2%"
                                value="@(ViewBag.IsCreate ? Camps.EditAdd : Camps.EditSave)" />
                        </div>
                    </div>
                </fieldset>
            }
        </td>
    </tr>

    <tr>
        <td colspan="2" align="right" style="border:0">
            @Html.ActionLink(Camps.EditBackToList, "Index")
        </td>
    </tr>

</table>


