@model IEnumerable<Camp.Models.CampModel>
@using Resources;

@{
    ViewBag.Title = Camps.IndexTitle;
}

<table style="border:0">
    <tr>
        <td style="border:0">
            <h2>@Camps.IndexTitle</h2>
        </td>

        <td style="border:0" align="right">
            @if (ViewBag.CanUpdate) {
                @Html.ActionLink(Camps.IndexCreateNew, "Create")
            }
        </td>
    </tr>

    <tr>
        <td colspan="2" style="border:0">
            <table>
                <tr>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().Year)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().Name)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.SingleOrDefault().Theme)
                    </th>

                    @if (ViewBag.CanUpdate)
                    {        
                    <th></th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td id="numeric">
                        @item.Year
                    </td>
                    <td id="name">
                        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                    </td>
                    <td id="theme">
                        @item.Theme
                    </td> 
        
                    <td id="actions">
                        @Html.ActionLink(Camps.Campers, "CamperForYearList", new { id = item.Id })
                        @if (ViewBag.CanUpdate) {        
                             @: | @Html.ActionLink(Camps.IndexEdit, "Edit", new { id = item.Id })
                             @: | @Html.ActionLink(Camps.IndexDelete, "Delete", new { id = item.Id },
                                new { onclick = "return confirm('" + item.DeleteConfirmationString + "')" })
                        }
                    </td>
                </tr>
                }
            </table>
        </td>
    </tr>
    
    @if (ViewBag.CanUpdate)
    {
    <tr>
        <td colspan="2" id="footer">
            @Html.ActionLink(Camps.IndexCreateNew, "Create")
        </td>
    </tr>
    }
</table>

