@model Camp.Models.DriverModel
@using Resources;

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/campedit")
}

@{
    ViewBag.Title = ViewBag.IsCreate ? Drivers.EditNew : ViewBag.FullName ?? Model.FullName;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#form").data("validator").settings.submitHandler = function (form) {
            $("#save").attr("disabled", true).val("@Drivers.EditSaving");
            form.submit();
        }
    });
</script>

<table style="border:0" width="98%">
    <tr>
        <td style="border:0">
            <h2>@(ViewBag.IsCreate ? Drivers.EditNew : ViewBag.FullName ?? Model.FullName)</h2>
        </td>

        <td style="border:0" align="right">
            @Html.ActionLink(Drivers.EditBackToList, "Index")
        </td>
    </tr>
    <tr>
        <td colspan="2" style="border:0">
            @using (Html.BeginForm(ViewBag.IsCreate? "Create" : "Edit", "Driver", FormMethod.Post, new { id = "form" })) {
                <fieldset>
                    <legend>@Drivers.EditLegend</legend>

                    @Html.HiddenFor(model => model.Id)

		            <div class="editor-item">
			            <div class="editor-label">
				            @Html.LabelFor(m => m.LastName)
			            </div>
			            <div class="editor-field">
				            @Html.EditorFor(m => m.LastName) @Html.ValidationMessageFor(m => m.LastName)
			            </div>
		            </div>

                    <div class="editor-item">
			            <div class="editor-label">
				            @Html.LabelFor(m => m.FirstName)
			            </div>
			            <div class="editor-field">
				            @Html.EditorFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName)
			            </div>
		            </div>

                    <div class="editor-item">
			            <div class="editor-label">
				            @Html.LabelFor(m => m.Contacts)
			            </div>
			            <div class="editor-field">
				            @Html.EditorFor(m => m.Contacts) @Html.ValidationMessageFor(m => m.Contacts)
			            </div>
		            </div>

                    <div class="editor-item">
			            <div class="editor-label">
				            @Html.LabelFor(m => m.SitPlacesNum)
			            </div>
			            <div class="editor-field">
				            @Html.EditorFor(m => m.SitPlacesNum) @Html.ValidationMessageFor(m => m.SitPlacesNum)
			            </div>
		            </div>

                    <div class="editor-item">
			            <div class="editor-label">
				            @Html.LabelFor(m => m.WheelchairsNum)
			            </div>
			            <div class="editor-field">
				            @Html.EditorFor(m => m.WheelchairsNum) @Html.ValidationMessageFor(m => m.WheelchairsNum)
			            </div>
		            </div>

                    <div class="editor-item">
			            <div class="editor-label">
				            @Html.LabelFor(m => m.Comments)
			            </div>
			            <div class="editor-field">
				            @Html.EditorFor(m => m.Comments) @Html.ValidationMessageFor(m => m.Comments)
			            </div>
		            </div>
      

                     <div class="editor-footer">
                        <div class="left">
                            <span style="color:red;">*</span>@Drivers.EditRequiredFields
                        </div>
                        <div class="right">
                            <input type="submit" id="save" style="margin-right:2%"
                                value="@(ViewBag.IsCreate? Drivers.EditAdd : Drivers.EditSave) "/>
                        </div>
                    </div>
                </fieldset>
            }
        </td>
    </tr>

    <tr>
        <td colspan="2" align="right" style="border:0">
            @Html.ActionLink(Drivers.EditBackToList, "Index")
        </td>
    </tr>

</table>

